<section class="bread">
    <h2 class="visually-hidden">Хлебные крошки</h2>
    <div class="bread__wrapper">
        <ul>
            <li>
                <a href="#">Главная</a>
            </li>
            <li>
                <a>Корзина</a>
            </li>
        </ul>
    </div>
</section>

<section class="cart">
    <h2 class="visually-hidden">Корзина</h2>
    <div class="cart__wrapper">
        <h2 class="cart__title">Корзина</h2>
        <div class="cart__container">
            <div class="cart__nav">
                <a class="cart__nav--history" href="#"><span>История заказов</span></a>
                <a class="cart__nav--profil" href="#"><span>Профиль</span></a>
                <a class="cart__nav--logout" href="#"><span>Выход</span></a>
            </div>
            <div class="cart__order">
                <form>
                    <div class="cart__order-container">
                        <ul class="cart__order-list">
                            <li>
                                <div class="cart__order-good-item-container">
                                    <div class="cart__order-img-container">
                                        <picture>
                                            <img src="img/card-good-1.png" alt="Изображение" width="125" height="112">
                                        </picture>
                                    </div>
                                    <div class="cart__order-item-info">
                                        <h4>915 жим от груди с разделённым ходом рычагов Sports Art</h4>
                                        <h5 class="cart__order-item-info-old-price">146 080 р</h5>
                                        <h6 class="cart__order-item-info-new-price-only-mobile">126 580 р</h6>
                                    </div>
                                    <div class="cart__order-item-count">
                                        <button class="cart__order-item-count-minus"></button>
                                        <input type="text" class="cart__order-item-count-value" value="1">
                                        <button class="cart__order-item-count-plus"></button>
                                    </div>
                                    <h4 class="cart__order-item-new-price-only-desktop">126 580 р</h4>
                                    <button class="cart__order-item-dellete"></button>
                                </div>
                            </li>
                            <li>
                                <div class="cart__order-good-item-container">
                                    <div class="cart__order-img-container">
                                        <picture>
                                            <img src="img/card-good-1.png" alt="Изображение" width="125" height="112">
                                        </picture>
                                    </div>
                                    <div class="cart__order-item-info">
                                        <h4>915 жим от груди с разделённым ходом рычагов Sports Art</h4>
                                        <h5 class="cart__order-item-info-old-price">146 080 р</h5>
                                        <h6 class="cart__order-item-info-new-price-only-mobile">126 580 р</h6>
                                    </div>
                                    <div class="cart__order-item-count">
                                        <button class="cart__order-item-count-minus"></button>
                                        <input type="text" class="cart__order-item-count-value" value="1">
                                        <button class="cart__order-item-count-plus"></button>
                                    </div>
                                    <h4 class="cart__order-item-new-price-only-desktop">126 580 р</h4>
                                    <button class="cart__order-item-dellete"></button>
                                </div>
                            </li>
                            <li>
                                <div class="cart__order-good-item-container">
                                    <div class="cart__order-img-container">
                                        <picture>
                                            <img src="img/card-good-1.png" alt="Изображение" width="125" height="112">
                                        </picture>
                                    </div>
                                    <div class="cart__order-item-info">
                                        <h4>915 жим от груди с разделённым ходом рычагов Sports Art</h4>
                                        <h5 class="cart__order-item-info-old-price">146 080 р</h5>
                                        <h6 class="cart__order-item-info-new-price-only-mobile">126 580 р</h6>
                                    </div>
                                    <div class="cart__order-item-count">
                                        <button class="cart__order-item-count-minus"></button>
                                        <input type="text" class="cart__order-item-count-value" value="1">
                                        <button class="cart__order-item-count-plus"></button>
                                    </div>
                                    <h4 class="cart__order-item-new-price-only-desktop">126 580 р</h4>
                                    <button class="cart__order-item-dellete"></button>
                                </div>
                            </li>
                        </ul>
                        <button class="cart__order--clear">Очистить корзину</button>
                        <div class="cart__order-apply">
                            <div class="cart__order-apply-send">
                                <div class="cart__order-apply-send-total">
                                    <p class="cart__order-apply-send-total--title">Итого</p>
                                    <p>3 шт</p>
                                    <p>400 000 р</p>
                                </div>
                                <button type="submit">Оформить заказ</button>
                            </div>
                            <div class="cart__order-apply-info">
                                <p class="cart__order-apply-info-description">Нажимая на кнопку "оформить заказ" я подтверждаю согласие с политикой конфиденциальности и правилами обслуживания магазина. <a href="#" class="cart__order-apply-info-link">Узнать подробнее</a></p>
                                
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>