<section class="bread">
    <h2 class="visually-hidden">Хлебные крошки</h2>
    <div class="bread__wrapper">
        <ul>
            <li>
                <a href="#">Главная</a>
            </li>
            <li>
                <a>Каталог</a>
            </li>
        </ul>
    </div>
</section>

<section class="catalog">
    <h2 class="visually-hidden">Каталог</h2>
    <div class="catalog__wrapper">
        <h2 class="catalog__header">Каталог</h2>
        <ul class="catalog__list">
            <li>
                <a href="#">
                    <picture>
                        <img src="img/catalog-1.png" alt="Изображенеи" width="290" height="149">
                    </picture>
                    <p>спортивное питание</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <picture>
                        <img src="img/catalog-2.png" alt="Изображенеи" width="290" height="149">
                    </picture>
                    <p>Тренажеры для дома</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <picture>
                        <img src="img/catalog-3.png" alt="Изображенеи" width="290" height="149">
                    </picture>
                    <p>Тренажеры для зала</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <picture>
                        <img src="img/catalog-4.png" alt="Изображенеи" width="290" height="149">
                    </picture>
                    <p>грифы и диски</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <picture>
                        <img src="img/catalog-5.png" alt="Изображенеи" width="290" height="149">
                    </picture>
                    <p>уличные тренажеры</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <picture>
                        <img src="img/catalog-6.png" alt="Изображенеи" width="290" height="149">
                    </picture>
                    <p>единоборства</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <picture>
                        <img src="img/catalog-7.png" alt="Изображенеи" width="290" height="149">
                    </picture>
                    <p>детские площадки</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <picture>
                        <img src="img/catalog-8.png" alt="Изображенеи" width="290" height="149">
                    </picture>
                    <p>аксессуары для спорта</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <picture>
                        <img src="img/catalog-9.png" alt="Изображенеи" width="290" height="149">
                    </picture>
                    <p>спортивные покрытия</p>
                </a>
            </li>
        </ul>
    </div>
</section>