<section class="bread">
    <h2 class="visually-hidden">Хлебные крошки</h2>
    <div class="bread__wrapper">
        <ul>
            <li>
                <a href="#">Главная</a>
            </li>
            <li>
                <a href="#">Каталог</a>
            </li>
            <li>
                <a>Силовые тренажеры</a>
            </li>
        </ul>
    </div>
</section>
<section class="category">
    <h2 class="visually-hidden">Силовые тренажеры</h2>
    <div class="category__wrapper">
        <h2 class="category__title">Силовые тренажеры</h2>
        <div class="category__container">
            <div class="category__left">
                <button class="category__filters-open-trigger" type="button"><span>Фильтры</span></button>
                <div class="category__filters">
                    <div class="category__container">

                    </div>
                    <div class="category__advantages-desktop">
                        <h4>С НАМИ ВЫГОДНО</h4>
                        <ul>
                            <li>Доступные цены</li>
                            <li>Гарантия на все</li>
                            <li>Распродажи и акции</li>
                            <li>Любые формы оплаты</li>
                            <li>Услуга подъема и сборки</li>
                            <li>Доставка по России</li>
                            <li>Лучшая продукция на рынке</li>
                            <li>По вашим индивидуальным проектам</li>
                        </ul>
                    </div>
                    <div class="category__sertificats-desktop">
                        <h2>СЕРТИФИКАТЫ</h2>
                        <div>
                            <picture>
                                <img src="img/sert.jpg" width="124" height="177" alt="Изображение">
                            </picture>
                            <picture>
                                <img src="img/sert.jpg" width="124" height="177" alt="Изображение">
                            </picture>
                        </div>
                        <a href="#">Смотреть все</a>
                    </div>
                    <div class="category__garanty-desktop">
                        <h2>ГАРАНТИЯ ЛУЧШЕЙ ЦЕНЫ</h2>
                        <h3>Нашли дешевле, <br>мы снизим цену</h3>
                    </div>
                </div>
            </div>
            <div class="category__right">
                <div class="category__sorts">
                    <div class="category__sort-item">
                    </div>
                    <div class="category__sort-item">
                    </div>
                    <div class="category__sort-item">
                        <p class="category__sort-title">сортировка :</p>
                        <div class="category__sort-inner-container">
                            <button class="category__sort-trigger"><span class="category__sort--price-up">по цене</span></button>
                            <div class="category__sort-list-container none">
                                <ul class="category__sort-list">
                                    <li>
                                        <label>
                                            <span>по цене 1</span>
                                            <input type="radio" name="sorts">
                                        <label>
                                    </li>
                                    <li>
                                        <label>
                                            <span>по цене 2</span>
                                            <input type="radio" name="sorts">
                                        <label>
                                    </li>
                                    <li>
                                        <label>
                                            <span>по цене 3</span>
                                            <input type="radio" name="sorts">
                                        <label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="category__goods">   
                    <ul class="category__goods--list">
                        <li class="category__goods-list-item">
                            <div class="category__goods-picture-container">
                                <picture>
                                    <img src="img/good-1.png" width="98" height="96" alt="Изображение">
                                </picture>
                                <p class="category__goods-picture-mobule-status category__goods-picture-mobule-status--middle-have">Мало</p>
                            </div>
                            <div class="category__goods-info">
                                <h5 class="category__goods-title">915 жим от груди с разделённым ходом рычагов Sports Art</h5>
                                <p class="category__goods-title-option-first">Цвет рамы: черно-желтый (другие цвета-опционально)</p>
                                <p class="category__goods-title-option-second">Цвет обивки: черный</p>
                                <p class="category__goods-title-option-status category__goods-title-option-status--middle">Мало</p>
                                <p class="category__goods-title-price-old">20 000 000 р</p>
                                <p class="category__goods-title-price-new">15 000 000  р</p>
                            </div>
                            <div class="category__goods-activites">
                                <ul class="category__goods-activites-list">
                                    <li class="category__goods-activites-item">
                                        <button type="button" class="category__goods-activites-vs"></button>
                                    </li>
                                    <li class="category__goods-activites-item">
                                        <button type="button" class="category__goods-activites-like"></button>
                                    </li>
                                    <li class="category__goods-activites-item">
                                        <button type="button" class="category__goods-activites-cart"><span>Добавить</span></button>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="category__goods-list-item">
                            <div class="category__goods-picture-container">
                                <picture>
                                    <img src="img/good-1.png" width="98" height="96" alt="Изображение">
                                </picture>
                                <p class="category__goods-picture-mobule-status category__goods-picture-mobule-status--have">В наличии</p>
                            </div>
                            <div class="category__goods-info">
                                <h5 class="category__goods-title">915 жим от груди с разделённым ходом рычагов Sports Art</h5>
                                <p class="category__goods-title-option-first">Цвет рамы: черно-желтый (другие цвета-опционально)</p>
                                <p class="category__goods-title-option-second">Цвет обивки: черный</p>
                                <p class="category__goods-title-option-status category__goods-title-option-status--have">В наличии</p>
                                <p class="category__goods-title-price-old">20 000 000 р</p>
                                <p class="category__goods-title-price-new">15 000 000  р</p>
                            </div>
                            <div class="category__goods-activites">
                                <ul class="category__goods-activites-list">
                                    <li class="category__goods-activites-item">
                                        <button type="button" class="category__goods-activites-vs"></button>
                                    </li>
                                    <li class="category__goods-activites-item">
                                        <button type="button" class="category__goods-activites-like"></button>
                                    </li>
                                    <li class="category__goods-activites-item">
                                        <button type="button" class="category__goods-activites-cart"><span>Добавить</span></button>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="category__goods-list-item">
                            <div class="category__goods-picture-container">
                                <picture>
                                    <img src="img/good-1.png" width="98" height="96" alt="Изображение">
                                </picture>
                                <p class="category__goods-picture-mobule-status category__goods-picture-mobule-status--no-have">Нет в наличии</p>
                            </div>
                            <div class="category__goods-info">
                                <h5 class="category__goods-title">915 жим от груди с разделённым ходом рычагов Sports Art</h5>
                                <p class="category__goods-title-option-first">Цвет рамы: черно-желтый (другие цвета-опционально)</p>
                                <p class="category__goods-title-option-second">Цвет обивки: черный</p>
                                <p class="category__goods-title-option-status category__goods-title-option-status--not-have">Нет в наличии</p>
                                <p class="category__goods-title-price-old">20 000 000 р</p>
                                <p class="category__goods-title-price-new">15 000 000  р</p>
                            </div>
                            <div class="category__goods-activites">
                                <ul class="category__goods-activites-list">
                                    <li class="category__goods-activites-item">
                                        <button type="button" class="category__goods-activites-vs"></button>
                                    </li>
                                    <li class="category__goods-activites-item">
                                        <button type="button" class="category__goods-activites-like"></button>
                                    </li>
                                    <li class="category__goods-activites-item">
                                        <button type="button" class="category__goods-activites-cart"><span>Добавить</span></button>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="category__goods-list-item">
                            <div class="category__goods-picture-container">
                                <picture>
                                    <img src="img/good-1.png" width="98" height="96" alt="Изображение">
                                </picture>
                                <p class="category__goods-picture-mobule-status category__goods-picture-mobule-status--no-have">Нет в наличии</p>
                            </div>
                            <div class="category__goods-info">
                                <h5 class="category__goods-title">915 жим от груди с разделённым ходом рычагов Sports Art</h5>
                                <p class="category__goods-title-option-first">Цвет рамы: черно-желтый (другие цвета-опционально)</p>
                                <p class="category__goods-title-option-second">Цвет обивки: черный</p>
                                <p class="category__goods-title-option-status category__goods-title-option-status--not-have">Нет в наличии</p>
                                <p class="category__goods-title-price-old">20 000 000 р</p>
                                <p class="category__goods-title-price-new">15 000 000  р</p>
                            </div>
                            <div class="category__goods-activites">
                                <ul class="category__goods-activites-list">
                                    <li class="category__goods-activites-item">
                                        <button type="button" class="category__goods-activites-vs"></button>
                                    </li>
                                    <li class="category__goods-activites-item">
                                        <button type="button" class="category__goods-activites-like"></button>
                                    </li>
                                    <li class="category__goods-activites-item">
                                        <button type="button" class="category__goods-activites-cart"><span>Добавить</span></button>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="category__goods-list-item">
                            <div class="category__goods-picture-container">
                                <picture>
                                    <img src="img/good-1.png" width="98" height="96" alt="Изображение">
                                </picture>
                                <p class="category__goods-picture-mobule-status category__goods-picture-mobule-status--no-have">В наличии</p>
                            </div>
                            <div class="category__goods-info">
                                <h5 class="category__goods-title">915 жим от груди с разделённым ходом рычагов Sports Art</h5>
                                <p class="category__goods-title-option-first">Цвет рамы: черно-желтый (другие цвета-опционально)</p>
                                <p class="category__goods-title-option-second">Цвет обивки: черный</p>
                                <p class="category__goods-title-option-status category__goods-title-option-status--not-have">Нет в наличии</p>
                                <p class="category__goods-title-price-old">20 000 000 р</p>
                                <p class="category__goods-title-price-new">15 000 000  р</p>
                            </div>
                            <div class="category__goods-activites">
                                <ul class="category__goods-activites-list">
                                    <li class="category__goods-activites-item">
                                        <button type="button" class="category__goods-activites-vs"></button>
                                    </li>
                                    <li class="category__goods-activites-item">
                                        <button type="button" class="category__goods-activites-like"></button>
                                    </li>
                                    <li class="category__goods-activites-item">
                                        <button type="button" class="category__goods-activites-cart"><span>Добавить</span></button>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="category__goods-list-item">
                            <div class="category__goods-picture-container">
                                <picture>
                                    <img src="img/good-1.png" width="98" height="96" alt="Изображение">
                                </picture>
                                <p class="category__goods-picture-mobule-status category__goods-picture-mobule-status--middle-have">Мало</p>
                            </div>
                            <div class="category__goods-info">
                                <h5 class="category__goods-title">915 жим от груди с разделённым ходом рычагов Sports Art</h5>
                                <p class="category__goods-title-option-first">Цвет рамы: черно-желтый (другие цвета-опционально)</p>
                                <p class="category__goods-title-option-second">Цвет обивки: черный</p>
                                <p class="category__goods-title-option-status category__goods-title-option-status--middle">Мало</p>
                                <p class="category__goods-title-price-old">20 000 000 р</p>
                                <p class="category__goods-title-price-new">15 000 000  р</p>
                            </div>
                            <div class="category__goods-activites">
                                <ul class="category__goods-activites-list">
                                    <li class="category__goods-activites-item">
                                        <button type="button" class="category__goods-activites-vs"></button>
                                    </li>
                                    <li class="category__goods-activites-item">
                                        <button type="button" class="category__goods-activites-like"></button>
                                    </li>
                                    <li class="category__goods-activites-item">
                                        <button type="button" class="category__goods-activites-cart"><span>Добавить</span></button>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="category__goods-list-item">
                            <div class="category__goods-picture-container">
                                <picture>
                                    <img src="img/good-1.png" width="98" height="96" alt="Изображение">
                                </picture>
                                <p class="category__goods-picture-mobule-status category__goods-picture-mobule-status--have">В наличии</p>
                            </div>
                            <div class="category__goods-info">
                                <h5 class="category__goods-title">915 жим от груди с разделённым ходом рычагов Sports Art</h5>
                                <p class="category__goods-title-option-first">Цвет рамы: черно-желтый (другие цвета-опционально)</p>
                                <p class="category__goods-title-option-second">Цвет обивки: черный</p>
                                <p class="category__goods-title-option-status category__goods-title-option-status--have">В наличии</p>
                                <p class="category__goods-title-price-old">20 000 000 р</p>
                                <p class="category__goods-title-price-new">15 000 000  р</p>
                            </div>
                            <div class="category__goods-activites">
                                <ul class="category__goods-activites-list">
                                    <li class="category__goods-activites-item">
                                        <button type="button" class="category__goods-activites-vs"></button>
                                    </li>
                                    <li class="category__goods-activites-item">
                                        <button type="button" class="category__goods-activites-like"></button>
                                    </li>
                                    <li class="category__goods-activites-item">
                                        <button type="button" class="category__goods-activites-cart"><span>Добавить</span></button>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="category__goods-list-item">
                            <div class="category__goods-picture-container">
                                <picture>
                                    <img src="img/good-1.png" width="98" height="96" alt="Изображение">
                                </picture>
                                <p class="category__goods-picture-mobule-status category__goods-picture-mobule-status--no-have">Нет в наличии</p>
                            </div>
                            <div class="category__goods-info">
                                <h5 class="category__goods-title">915 жим от груди с разделённым ходом рычагов Sports Art</h5>
                                <p class="category__goods-title-option-first">Цвет рамы: черно-желтый (другие цвета-опционально)</p>
                                <p class="category__goods-title-option-second">Цвет обивки: черный</p>
                                <p class="category__goods-title-option-status category__goods-title-option-status--not-have">Нет в наличии</p>
                                <p class="category__goods-title-price-old">20 000 000 р</p>
                                <p class="category__goods-title-price-new">15 000 000  р</p>
                            </div>
                            <div class="category__goods-activites">
                                <ul class="category__goods-activites-list">
                                    <li class="category__goods-activites-item">
                                        <button type="button" class="category__goods-activites-vs"></button>
                                    </li>
                                    <li class="category__goods-activites-item">
                                        <button type="button" class="category__goods-activites-like"></button>
                                    </li>
                                    <li class="category__goods-activites-item">
                                        <button type="button" class="category__goods-activites-cart"><span>Добавить</span></button>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="category__goods-list-item">
                            <div class="category__goods-picture-container">
                                <picture>
                                    <img src="img/good-1.png" width="98" height="96" alt="Изображение">
                                </picture>
                                <p class="category__goods-picture-mobule-status category__goods-picture-mobule-status--no-have">Нет в наличии</p>
                            </div>
                            <div class="category__goods-info">
                                <h5 class="category__goods-title">915 жим от груди с разделённым ходом рычагов Sports Art</h5>
                                <p class="category__goods-title-option-first">Цвет рамы: черно-желтый (другие цвета-опционально)</p>
                                <p class="category__goods-title-option-second">Цвет обивки: черный</p>
                                <p class="category__goods-title-option-status category__goods-title-option-status--not-have">Нет в наличии</p>
                                <p class="category__goods-title-price-old">20 000 000 р</p>
                                <p class="category__goods-title-price-new">15 000 000  р</p>
                            </div>
                            <div class="category__goods-activites">
                                <ul class="category__goods-activites-list">
                                    <li class="category__goods-activites-item">
                                        <button type="button" class="category__goods-activites-vs"></button>
                                    </li>
                                    <li class="category__goods-activites-item">
                                        <button type="button" class="category__goods-activites-like"></button>
                                    </li>
                                    <li class="category__goods-activites-item">
                                        <button type="button" class="category__goods-activites-cart"><span>Добавить</span></button>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="category__goods-list-item">
                            <div class="category__goods-picture-container">
                                <picture>
                                    <img src="img/good-1.png" width="98" height="96" alt="Изображение">
                                </picture>
                                <p class="category__goods-picture-mobule-status category__goods-picture-mobule-status--no-have">В наличии</p>
                            </div>
                            <div class="category__goods-info">
                                <h5 class="category__goods-title">915 жим от груди с разделённым ходом рычагов Sports Art</h5>
                                <p class="category__goods-title-option-first">Цвет рамы: черно-желтый (другие цвета-опционально)</p>
                                <p class="category__goods-title-option-second">Цвет обивки: черный</p>
                                <p class="category__goods-title-option-status category__goods-title-option-status--not-have">Нет в наличии</p>
                                <p class="category__goods-title-price-old">20 000 000 р</p>
                                <p class="category__goods-title-price-new">15 000 000  р</p>
                            </div>
                            <div class="category__goods-activites">
                                <ul class="category__goods-activites-list">
                                    <li class="category__goods-activites-item">
                                        <button type="button" class="category__goods-activites-vs"></button>
                                    </li>
                                    <li class="category__goods-activites-item">
                                        <button type="button" class="category__goods-activites-like"></button>
                                    </li>
                                    <li class="category__goods-activites-item">
                                        <button type="button" class="category__goods-activites-cart"><span>Добавить</span></button>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="category__goods-list-item">
                            <div class="category__goods-picture-container">
                                <picture>
                                    <img src="img/good-1.png" width="98" height="96" alt="Изображение">
                                </picture>
                                <p class="category__goods-picture-mobule-status category__goods-picture-mobule-status--no-have">В наличии</p>
                            </div>
                            <div class="category__goods-info">
                                <h5 class="category__goods-title">915 жим от груди с разделённым ходом рычагов Sports Art</h5>
                                <p class="category__goods-title-option-first">Цвет рамы: черно-желтый (другие цвета-опционально)</p>
                                <p class="category__goods-title-option-second">Цвет обивки: черный</p>
                                <p class="category__goods-title-option-status category__goods-title-option-status--not-have">Нет в наличии</p>
                                <p class="category__goods-title-price-old">20 000 000 р</p>
                                <p class="category__goods-title-price-new">15 000 000  р</p>
                            </div>
                            <div class="category__goods-activites">
                                <ul class="category__goods-activites-list">
                                    <li class="category__goods-activites-item">
                                        <button type="button" class="category__goods-activites-vs"></button>
                                    </li>
                                    <li class="category__goods-activites-item">
                                        <button type="button" class="category__goods-activites-like"></button>
                                    </li>
                                    <li class="category__goods-activites-item">
                                        <button type="button" class="category__goods-activites-cart"><span>Добавить</span></button>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="category__goods-list-item">
                            <div class="category__goods-picture-container">
                                <picture>
                                    <img src="img/good-1.png" width="98" height="96" alt="Изображение">
                                </picture>
                                <p class="category__goods-picture-mobule-status category__goods-picture-mobule-status--no-have">В наличии</p>
                            </div>
                            <div class="category__goods-info">
                                <h5 class="category__goods-title">915 жим от груди с разделённым ходом рычагов Sports Art</h5>
                                <p class="category__goods-title-option-first">Цвет рамы: черно-желтый (другие цвета-опционально)</p>
                                <p class="category__goods-title-option-second">Цвет обивки: черный</p>
                                <p class="category__goods-title-option-status category__goods-title-option-status--not-have">Нет в наличии</p>
                                <p class="category__goods-title-price-old">20 000 000 р</p>
                                <p class="category__goods-title-price-new">15 000 000  р</p>
                            </div>
                            <div class="category__goods-activites">
                                <ul class="category__goods-activites-list">
                                    <li class="category__goods-activites-item">
                                        <button type="button" class="category__goods-activites-vs"></button>
                                    </li>
                                    <li class="category__goods-activites-item">
                                        <button type="button" class="category__goods-activites-like"></button>
                                    </li>
                                    <li class="category__goods-activites-item">
                                        <button type="button" class="category__goods-activites-cart"><span>Добавить</span></button>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        
                    </ul>
                    <div class="category__goods-pagination">
                        <ul class="category__goods-pagination-list">
                            <li class="category__goods-pagination-item">
                                <a class="category__goods-pagination-link" href="#">Пред.</a>
                            </li>
                            <li class="category__goods-pagination-item">
                                <a class="category__goods-pagination-link" href="#">1</a>
                            </li>
                            <li class="category__goods-pagination-item">
                                <a class="category__goods-pagination-link category__goods-pagination-link--active" href="#">2</a>
                            </li>
                            <li class="category__goods-pagination-item">
                                <a class="category__goods-pagination-link category__goods-pagination-link--more" href="#">...</a>
                            </li>
                            <li class="category__goods-pagination-item">
                                <a class="category__goods-pagination-link" href="#">10</a>
                            </li>
                            <li class="category__goods-pagination-item">
                                <a class="category__goods-pagination-link" href="#">След.</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>