<section class="bread">
    <h2 class="visually-hidden">Хлебные крошки</h2>
    <div class="bread__wrapper">
        <ul>
            <li>
                <a href="#">Главная</a>
            </li>
            <li>
                <a>Сравнение</a>
            </li>
        </ul>
    </div>
</section>


<section class="comparison">
    <h2 class="visually-hidden">Сравнение товаров</h2>
    <div class="comparison__wrapper">
        <h2 class="comparison__title">Сравнение товаров</h2>
        <h5 class="comparison__not-have none">Добавьте товары для сравнения</h5>
        <div class="comparison__table-container">
            <table class="comparison__table">
                <tr>
                    <th data-num="1">
                        <div class="comparison__img-container">
                            <picture>
                                <img src="img/compr-1.png" width="" height="" alt="Изображение">
                            </picture>
                            <div class="comparison__img-container-information">
                                <h2 class="comparison__img-container-title">915 жим от груди с разделённым ходом рычагов Sports Art</h2>
                                <ul class="comparison__img-container-activites">
                                    <div class="comparison__img-container-cost">
                                        <p class="comparison__img-container-old">12 500 000 р</p>
                                        <p class="comparison__img-container-new">10 500 000 р</p>
                                    </div>
                                    <button class="comparison__img-container-delete"></button>
                                    <button class="comparison__img-container-buy">Добавить</button>
                                </ul>
                            </div>
                        </div>
                        <h5>характеристики</h5>
                    </th>
                    <th data-num="2">
                        <div class="comparison__img-container">
                            <picture>
                                <img src="img/compr-1.png" width="" height="" alt="Изображение">
                            </picture>
                            <div class="comparison__img-container-information">
                                <h2 class="comparison__img-container-title">915 жим от груди с разделённым ходом рычагов Sports Art</h2>
                                <ul class="comparison__img-container-activites">
                                    <div class="comparison__img-container-cost">
                                        <p class="comparison__img-container-old">12 500 000 р</p>
                                        <p class="comparison__img-container-new">10 500 000 р</p>
                                    </div>
                                    <button class="comparison__img-container-delete"></button>
                                    <button class="comparison__img-container-buy">Добавить</button>
                                </ul>
                            </div>
                        </div>
                        <h5>характеристики</h5>
                    </th>
                    <th data-num="3">
                        <div class="comparison__img-container">
                            <picture>
                                <img src="img/compr-1.png" width="" height="" alt="Изображение">
                            </picture>
                            <div class="comparison__img-container-information">
                                <h2 class="comparison__img-container-title">915 жим от груди с разделённым ходом рычагов Sports Art</h2>
                                <ul class="comparison__img-container-activites">
                                    <div class="comparison__img-container-cost">
                                        <p class="comparison__img-container-old">12 500 000 р</p>
                                        <p class="comparison__img-container-new">10 500 000 р</p>
                                    </div>
                                    <button class="comparison__img-container-delete"></button>
                                    <button class="comparison__img-container-buy">Добавить</button>
                                </ul>
                            </div>
                        </div>
                        <h5>характеристики</h5>
                    </th>
                    <th data-num="4">
                        <div class="comparison__img-container">
                            <picture>
                                <img src="img/compr-1.png" width="" height="" alt="Изображение">
                            </picture>
                            <div class="comparison__img-container-information">
                                <h2 class="comparison__img-container-title">915 жим от груди с разделённым ходом рычагов Sports Art</h2>
                                <ul class="comparison__img-container-activites">
                                    <div class="comparison__img-container-cost">
                                        <p class="comparison__img-container-old">12 500 000 р</p>
                                        <p class="comparison__img-container-new">10 500 000 р</p>
                                    </div>
                                    <button class="comparison__img-container-delete"></button>
                                    <button class="comparison__img-container-buy">Добавить</button>
                                </ul>
                            </div>
                        </div>
                        <h5>характеристики</h5>
                    </th>
                    <th data-num="5">
                        <div class="comparison__img-container">
                            <picture>
                                <img src="img/compr-1.png" width="" height="" alt="Изображение">
                            </picture>
                            <div class="comparison__img-container-information">
                                <h2 class="comparison__img-container-title">915 жим от груди с разделённым ходом рычагов Sports Art</h2>
                                <ul class="comparison__img-container-activites">
                                    <div class="comparison__img-container-cost">
                                        <p class="comparison__img-container-old">12 500 000 р</p>
                                        <p class="comparison__img-container-new">10 500 000 р</p>
                                    </div>
                                    <button class="comparison__img-container-delete"></button>
                                    <button class="comparison__img-container-buy">Добавить</button>
                                </ul>
                            </div>
                        </div>
                        <h5>характеристики</h5>
                    </th>
                </tr>
                </tr>
                <tr>
                    <td data-num="1">
                        <h3>Силовые тренажеры:</h3>
                        <p>Черно-желтый</p>
                    </td>
                    <td data-num="2">
                        <h3>Силовые тренажеры:</h3>
                        <p>Черно-желтый</p>
                    </td>
                    <td data-num="3">
                        <h3>Силовые тренажеры:</h3>
                        <p>Черно-желтый</p>
                    </td>
                    <td data-num="4">
                        <h3>Силовые тренажеры:</h3>
                        <p>Черно-желтый</p>
                    </td>
                    <td data-num="5">
                        <h3>Силовые тренажеры:</h3>
                        <p>Черно-желтый</p>
                    </td>
                </tr>
                <tr>
                    <td data-num="1">
                        <h3>Силовые тренажеры:</h3>
                        <p>Черно-желтый</p>
                    </td>
                    <td data-num="2">
                        <h3>Силовые тренажеры:</h3>
                        <p>Черно-желтый</p>
                    </td>
                    <td data-num="3">
                        <h3>Силовые тренажеры:</h3>
                        <p>Черно-желтый</p>
                    </td>
                    <td data-num="4">
                        <h3>Силовые тренажеры:</h3>
                        <p>Черно-желтый</p>
                    </td>
                    <td data-num="5">
                        <h3>Силовые тренажеры:</h3>
                        <p>Черно-желтый</p>
                    </td>
                </tr>
                <tr>
                    <td data-num="1">
                        <h3>Силовые тренажеры:</h3>
                        <p>Черно-желтый</p>
                    </td>
                    <td data-num="2">
                        <h3>Силовые тренажеры:</h3>
                        <p>Черно-желтый</p>
                    </td>
                    <td data-num="3">
                        <h3>Силовые тренажеры:</h3>
                        <p>Черно-желтый</p>
                    </td>
                    <td data-num="4">
                        <h3>Силовые тренажеры:</h3>
                        <p>Черно-желтый</p>
                    </td>
                    <td data-num="5">
                        <h3>Силовые тренажеры:</h3>
                        <p>Черно-желтый</p>
                    </td>
                </tr>
            </table>
        </div>
        <button class="comparison__clear js__comparison-clear">Очистить список</button>
        <a class="comparison__back" href="#">Назад к товарам</a>
    </div>
</section>
