//Footer
<footer class="main-footer">
    <section class="footer">
        <h2 class="visually-hidden">Футер</h2>
        <div class="footer__wrapper footer__wrapper--top">
            <div class="footer__main">
                if page == "index-page"
                    <a class="footer__main-logo">
                        <picture>
                            <source media="(max-width: 1199px)" srcset="img/mobile-logo.svg">
                            <img src="img/logo.svg" width="119" height="35" alt="Логотип">
                        </picture>                 
                    </a>
                else
                    <a href="1--index.html" class="footer__main-logo">
                        <picture>
                            <source media="(max-width: 1199px)" srcset="img/mobile-logo.svg">
                            <img src="img/logo.svg" width="119" height="35" alt="Логотип">
                        </picture> 
                    </a>
                <a class="footer__main-vk" target="_blank" href="https://vk.com/vsporteonline">Наша группа <br>ВКонтакте</a>
                <p class="footer__main-copyright">© 2002—2022 VSPORT</p>
            </div>
            <div class="footer__menu">
                <div class="footer__menu-container footer__menu-first">
                    <h2>Наша продукция</h2>
                    <ul>
                        <li>
                            <a href="#">Для тренажерного зала</a>
                        </li>
                        <li>
                            <a href="#">Для тяжелой атлетики</a>
                        </li>
                        <li>
                            <a href="#">Для спортзала</a>
                        </li>
                        <li>
                            <a href="#">Для кроссфита</a>
                        </li>
                        <li>
                            <a href="#">Для фитнеса</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__menu-container footer__menu-second">
                    <h2>Сервис</h2>
                    <ul>
                        <li>
                            <a href="#">Гарантийные обязательства</a>
                        </li>
                        <li>
                            <a href="#">Заявка на сервис</a>
                        </li>
                        <li>
                            <a href="#">Доставка тренажеров</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__info">
                <h2 class="footer__info-title">Адрес</h2>
                <ul>    
                    <li class="footer__info-adress">г. Владимир, ул. Большая Московская, 19</li>
                    <li class="footer__info-tels">
                        <p><a href="tel:84922324709">8 (492) 232 47 09</a></p>
                        <p><a href="tel:89038339669">8 (903) 833 96 69 (Билайн)</a></p>
                        <p><a href="tel:88007004700">8 (800) 700 47 00</a></p>
                        <p><a href="tel:89157939769">8 (915) 793 97 69 (МТС)</a></p>
                        <p><a href="tel:89209257935">8 (920) 925 79 35 (Мегафон)</a></p>
                    </li>
                    <li class="footer__info-emails"><a href="mailto:v-sport33@mail.ru">v-sport33@mail.ru</a></li>
                    <li class="footer__info-times">в будни с 10:00 - 19:00</li>
                </ul>
            </div>
        </div>
        <div class="footer__wrapper footer__wrapper--bottom">
            <div class="footer__copyright">
                <p class="footer__copyright-info">Xарактеристики, комплект поставки и внешний вид товара могут отличаться от указанных или могут быть изменены производителем без отражения в каталоге. Приведенные на нашем сайте цены, характеристики, количес тво товаров, а так же информация об их наличии на складе носят ознакомительный характер и не являются публичной офертой, определенной пунктом 2 статьи 437 ГК РФ. Для получения информации о характеристиках товаров, их наличии и стоимости необходимо связаться с менеджерами нашей компании. Оплата производится только после подтверждения резерва.</p>
                <p class="footer__copyright-data">© 2002—2022 VSPORT</p>
            </div>
        </div>
    </section>
</footer>