// Меню Нижнее
<section class="menu">
    <h2 class="visually-hidden">Меню Нижнее</h2>
    <div class="menu__wrapper">
        <ul class="menu__list">
            <li>
                <a href="#" class="menu__link menu__link--home"></a>
            </li>
             <li>
                <a href="#" class="menu__link menu__link--search js__menu-link--search"></a>
            </li>
             <li>
                <a href="#" class="menu__link menu__link--vs"></a>
            </li>
             <li>
                <a href="#" class="menu__link menu__link--like"></a>
            </li>
             <li>
                <a href="#" class="menu__link menu__link--cart">
                    <span>4</span>
                </a>
            </li>
        </ul>
    </div>
</section>

// Поиск
<section class="search hide">
    <h2 class="visually-hidden">Поиск</h2>
    <div class="search__wrapper">
        <div class="search__top">
            <form class="search__form">
                <div class="search__input-container">
                    <button class="search__input-container-submit" type="submit"></button>
                    <input class="search__input-container-input" type="text" placeholder="Тренажер">
                </div>
            </form>
            <button class="search__top--cencle" type="button">Отмена</button>
        </div>
        <div class="search__bottom">
            <ul class="search__list">
                <li class="search__item">
                    <a href="#" class="search__item-container">
                        <div class="search__item-image-contaner">
                            <picture class="search__item-container-picture">
                                <img src="img/search-img.jpg" alt="Изображение" width="58" height="64"> 
                            </picture>
                        </div>
                        <div class="search__item-info-container">
                            <p>Е-7035 ТЯГА СВЕРХУ. ВЕРТИКАЛЬНЫЙ БЛОК (PULLDOWN) СТЕК 110 КГ</p>
                            <h2>150 000 р</h2>
                        </div>
                    </a>
                </li>
                <li class="search__item">
                    <a href="#" class="search__item-container">
                        <div class="search__item-image-contaner">
                            <picture class="search__item-container-picture">
                                <img src="img/search-img.jpg" alt="Изображение" width="58" height="64"> 
                            </picture>
                        </div>
                        <div class="search__item-info-container">
                            <p>Е-7035 ТЯГА СВЕРХУ. ВЕРТИКАЛЬНЫЙ БЛОК (PULLDOWN) СТЕК 110 КГ</p>
                            <h2>150 000 р</h2>
                        </div>
                    </a>
                </li>
                <li class="search__item">
                    <a href="#" class="search__item-container">
                        <div class="search__item-image-contaner">
                            <picture class="search__item-container-picture">
                                <img src="img/search-img.jpg" alt="Изображение" width="58" height="64"> 
                            </picture>
                        </div>
                        <div class="search__item-info-container">
                            <p>Е-7035 ТЯГА СВЕРХУ. ВЕРТИКАЛЬНЫЙ БЛОК (PULLDOWN) СТЕК 110 КГ</p>
                            <h2>150 000 р</h2>
                        </div>
                    </a>
                </li>
            </ul>
            <a href="#" class="search__all">Все результаты</a>
        </div>
    </div>
</section>


// Заказать звонок
<section class="callback hide">
    <h2 class="visually-hidden">Заказать звонок</h2>
    <div class="callback__wrapper">
        <div class="callback__container">
            <button class="callback__close"></button>
            <h2 class="callback__title">Заказать звонок</h2>
            <form class="callback__form">
                <input type="text" placeholder="Ваше имя *" required>
                <input type="text" placeholder="Телефон *" required> 
                <p>Нажимая на кнопку "отправить" я подтверждаю согласие с политикой конфиденциальности.</p>
                <button type="submit">Отправить</button>
            </form>
        </div>
    </div>
</section>

// Попап корзин
<section class="popup-cart hide">
    <h2 class="visually-hidden">Попап корзины</h2>
    <div class="popup-cart__wrapper">
        <section class="cart">
            <h2 class="visually-hidden">Корзина</h2>
            <div class="cart__wrapper">
                <div class="cart__container">
                    <h2 class="popup-cart__head-title">Корзина</h2>
                    <button class="popup-cart__close"></button>
                    <div class="cart__order">
                        <form>
                            <div class="cart__order-container">
                                <ul class="cart__order-list">
                                    <li>
                                        <div class="cart__order-good-item-container">
                                            <div class="cart__order-img-container">
                                                <picture>
                                                    <img src="img/card-good-1.png" alt="Изображение" width="125" height="112">
                                                </picture>
                                            </div>
                                            <div class="cart__order-item-info">
                                                <h4>915 жим от груди с разделённым ходом рычагов Sports Art</h4>
                                                <h5 class="cart__order-item-info-old-price">146 080 р</h5>
                                                <h6 class="cart__order-item-info-new-price-only-mobile">126 580 р</h6>
                                            </div>
                                            <div class="cart__order-item-count">
                                                <button type="button" class="cart__order-item-count-minus"></button>
                                                <input type="text" class="cart__order-item-count-value" value="1">
                                                <button type="button" class="cart__order-item-count-plus"></button>
                                            </div>
                                            <h4 class="cart__order-item-new-price-only-desktop">126 580 р</h4>
                                            <button class="cart__order-item-dellete"></button>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="cart__order-good-item-container">
                                            <div class="cart__order-img-container">
                                                <picture>
                                                    <img src="img/card-good-1.png" alt="Изображение" width="125" height="112">
                                                </picture>
                                            </div>
                                            <div class="cart__order-item-info">
                                                <h4>915 жим от груди с разделённым ходом рычагов Sports Art</h4>
                                                <h5 class="cart__order-item-info-old-price">146 080 р</h5>
                                                <h6 class="cart__order-item-info-new-price-only-mobile">126 580 р</h6>
                                            </div>
                                            <div class="cart__order-item-count">
                                                <button type="button" class="cart__order-item-count-minus"></button>
                                                <input type="text" class="cart__order-item-count-value" value="1">
                                                <button type="button" class="cart__order-item-count-plus"></button>
                                            </div>
                                            <h4 class="cart__order-item-new-price-only-desktop">126 580 р</h4>
                                            <button class="cart__order-item-dellete"></button>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="cart__order-good-item-container">
                                            <div class="cart__order-img-container">
                                                <picture>
                                                    <img src="img/card-good-1.png" alt="Изображение" width="125" height="112">
                                                </picture>
                                            </div>
                                            <div class="cart__order-item-info">
                                                <h4>915 жим от груди с разделённым ходом рычагов Sports Art</h4>
                                                <h5 class="cart__order-item-info-old-price">146 080 р</h5>
                                                <h6 class="cart__order-item-info-new-price-only-mobile">126 580 р</h6>
                                            </div>
                                            <div class="cart__order-item-count">
                                                <button type="button" class="cart__order-item-count-minus"></button>
                                                <input type="text" class="cart__order-item-count-value" value="1">
                                                <button type="button" class="cart__order-item-count-plus"></button>
                                            </div>
                                            <h4 class="cart__order-item-new-price-only-desktop">126 580 р</h4>
                                            <button class="cart__order-item-dellete"></button>
                                        </div>
                                    </li>
                                </ul>
                                <button class="cart__order--clear">Очистить корзину</button>
                                <div class="cart__order-apply">
                                    <div class="cart__order-apply-send">
                                        <div class="cart__order-apply-send-total">
                                            <p class="cart__order-apply-send-total--title">Итого</p>
                                            <p>3 шт</p>
                                            <p>400 000 р</p>
                                        </div>
                                        <button type="submit"><span>Оформить заказ</span></button>
                                    </div>
                                    <div class="cart__order-apply-info">
                                        <p class="cart__order-apply-info-description">Нажимая на кнопку "оформить заказ" я подтверждаю согласие с политикой конфиденциальности и правилами обслуживания магазина. <a href="#" class="cart__order-apply-info-link">Узнать подробнее</a></p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
