// Меню Нижнее
<section class="menu">
    <h2 class="visually-hidden">Меню Нижнее</h2>
    <div class="menu__wrapper">
        <ul class="menu__list">
            <li>
                <a href="#" class="menu__link menu__link--home"></a>
            </li>
             <li>
                <a href="#" class="menu__link menu__link--search js__menu-link--search"></a>
            </li>
             <li>
                <a href="#" class="menu__link menu__link--vs"></a>
            </li>
             <li>
                <a href="#" class="menu__link menu__link--like"></a>
            </li>
             <li>
                <a href="#" class="menu__link menu__link--cart">
                    <span>4</span>
                </a>
            </li>
        </ul>
    </div>
</section>

// Поиск
<section class="search hide">
    <h2 class="visually-hidden">Поиск</h2>
    <div class="search__wrapper">
        <div class="search__top">
            <form class="search__form">
                <div class="search__input-container">
                    <button class="search__input-container-submit" type="submit"></button>
                    <input class="search__input-container-input" type="text" placeholder="Тренажер">
                </div>
            </form>
            <button class="search__top--cencle" type="button">Отмена</button>
        </div>
        <div class="search__bottom">
            <ul class="search__list">
                <li class="search__item">
                    <a href="#" class="search__item-container">
                        <div class="search__item-image-contaner">
                            <picture class="search__item-container-picture">
                                <img src="img/search-img.jpg" alt="Изображение" width="58" height="64"> 
                            </picture>
                        </div>
                        <div class="search__item-info-container">
                            <p>Е-7035 ТЯГА СВЕРХУ. ВЕРТИКАЛЬНЫЙ БЛОК (PULLDOWN) СТЕК 110 КГ</p>
                            <h2>150 000 р</h2>
                        </div>
                    </a>
                </li>
                <li class="search__item">
                    <a href="#" class="search__item-container">
                        <div class="search__item-image-contaner">
                            <picture class="search__item-container-picture">
                                <img src="img/search-img.jpg" alt="Изображение" width="58" height="64"> 
                            </picture>
                        </div>
                        <div class="search__item-info-container">
                            <p>Е-7035 ТЯГА СВЕРХУ. ВЕРТИКАЛЬНЫЙ БЛОК (PULLDOWN) СТЕК 110 КГ</p>
                            <h2>150 000 р</h2>
                        </div>
                    </a>
                </li>
                <li class="search__item">
                    <a href="#" class="search__item-container">
                        <div class="search__item-image-contaner">
                            <picture class="search__item-container-picture">
                                <img src="img/search-img.jpg" alt="Изображение" width="58" height="64"> 
                            </picture>
                        </div>
                        <div class="search__item-info-container">
                            <p>Е-7035 ТЯГА СВЕРХУ. ВЕРТИКАЛЬНЫЙ БЛОК (PULLDOWN) СТЕК 110 КГ</p>
                            <h2>150 000 р</h2>
                        </div>
                    </a>
                </li>
            </ul>
            <a href="#" class="search__all">Все результаты</a>
        </div>
    </div>
</section>


// Заказать звонок
<section class="callback hide">
    <h2 class="visually-hidden">Заказать звонок</h2>
    <div class="callback__wrapper">
        <div class="callback__container">
            <button class="callback__close"></button>
            <h2 class="callback__title">Заказать звонок</h2>
            <form class="callback__form">
                <input type="text" placeholder="Ваше имя *" required>
                <input type="text" placeholder="Телефон *" required> 
                <p>Нажимая на кнопку "отправить" я подтверждаю согласие с политикой конфиденциальности.</p>
                <button type="submit">Отправить</button>
            </form>
        </div>
    </div>
</section>