.bread__wrapper{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
    padding-bottom: 25px;
}

.bread__wrapper{
    ul{
        display: flex;
        flex-wrap: wrap;
        li{

        }
        a{
            white-space: nowrap;
            font-family: 'PT Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 13px;
            letter-spacing: 0.02em;
            color: #000000;
        }

        li{
            &:last-child{
                a{
                    color: #686868;
                    &::before{
                        content: unset;
                    }
                }
            }
            a{
                margin-right: 5px;
                padding-right: 5px;
                position: relative;
                &::before{
                    content: "";
                    background-image: url("data:image/svg+xml,%3Csvg width='3' height='5' viewBox='0 0 3 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.425723 4.99936C0.326426 4.99952 0.230197 4.97052 0.153739 4.91739C0.110706 4.88748 0.0751353 4.85074 0.0490623 4.80928C0.0229893 4.76782 0.00692678 4.72245 0.00179485 4.67578C-0.00333709 4.6291 0.00256242 4.58204 0.0191553 4.53728C0.0357482 4.49252 0.0627082 4.45095 0.0984919 4.41494L2.00238 2.50489L0.166488 0.591274C0.131187 0.554823 0.104825 0.512882 0.0889178 0.46786C0.0730103 0.422839 0.0678707 0.375625 0.0737945 0.328933C0.0797183 0.282241 0.0965885 0.23699 0.123436 0.195783C0.150283 0.154576 0.186578 0.118224 0.230234 0.0888164C0.274205 0.0563753 0.325697 0.0319054 0.38148 0.0169425C0.437263 0.00197963 0.496133 -0.00315316 0.554394 0.00186602C0.612655 0.00688521 0.66905 0.0219481 0.720039 0.0461095C0.771029 0.0702709 0.815512 0.103009 0.850697 0.142269L2.90332 2.28039C2.96583 2.34415 3 2.42413 3 2.50667C3 2.58921 2.96583 2.66919 2.90332 2.73295L0.778451 4.87107C0.735819 4.91419 0.681663 4.94828 0.620377 4.97057C0.559092 4.99286 0.492404 5.00272 0.425723 4.99936Z' fill='black'/%3E%3C/svg%3E%0A");
                    display: block;
                    width: 3px;
                    height: 5px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0px;
                }
            }
        }
    }
}

@media(min-width: 1200px){
    .bread{
        display: flex;
    }   

    .bread__wrapper{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        max-width: $max-width;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 87px;
        padding-bottom: 25px;
        ul{
            li{
                a{
                    font-family: 'PT Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                    letter-spacing: 0.02em;
                    padding-right: 7px;
                    margin-right: 5px;
                    &::before{
                        background-image: url("data:image/svg+xml,%3Csvg width='4' height='7' viewBox='0 0 4 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.45914 6.9994C0.352049 6.99961 0.248266 6.96232 0.165807 6.89399C0.119396 6.85551 0.0810331 6.80825 0.0529135 6.75493C0.0247938 6.7016 0.00747051 6.64325 0.00193574 6.58322C-0.00359904 6.52319 0.00276356 6.46266 0.0206589 6.40509C0.0385543 6.34752 0.0676306 6.29405 0.106223 6.24774L2.15956 3.79107L0.179557 1.32982C0.141485 1.28294 0.113054 1.22899 0.0958975 1.17109C0.0787413 1.11318 0.0731983 1.05246 0.0795871 0.992403C0.0859759 0.932348 0.10417 0.874148 0.133125 0.821148C0.16208 0.768148 0.201224 0.721393 0.248307 0.68357C0.295729 0.641845 0.351263 0.610372 0.411425 0.591127C0.471587 0.571882 0.535077 0.56528 0.597912 0.571736C0.660746 0.578192 0.721568 0.597565 0.77656 0.628641C0.831551 0.659717 0.879526 0.701824 0.917473 0.75232L3.13122 3.50232C3.19864 3.58433 3.23549 3.6872 3.23549 3.79336C3.23549 3.89952 3.19864 4.00239 3.13122 4.0844L0.839557 6.8344C0.793578 6.88987 0.735171 6.93371 0.669075 6.96238C0.602979 6.99105 0.531055 7.00373 0.45914 6.9994Z' fill='black'/%3E%3C/svg%3E%0A");
                        width: 4px;
                        height: 7px;
                    }
                }
            }
        }
    }


}