.callback{
    z-index: 1003;
    display: flex;
    position: fixed;
    background-color: rgba(0,0,0,0.3);
    height: 100vh;
    width: 100%;
    .callback__wrapper{
        width: 100%;
        display: flex;
        width: 392px;
        margin: auto;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 20px;
        padding: 33px 36px;
        position: relative;
    }

    .callback__title{
        position: relative;
        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 29px;
        color: #000000;
        display: inline-block;
        padding-right: 32px;
        margin-bottom: 43px;
        &::before{
            content: "";
            background-image: url('data:image/svg+xml,%3Csvg width="25" height="27" viewBox="0 0 25 27" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M13.5417 9.16667C14.3705 9.16667 15.1653 9.50908 15.7514 10.1186C16.3374 10.7281 16.6667 11.5547 16.6667 12.4167C16.6667 12.704 16.7764 12.9795 16.9718 13.1827C17.1671 13.3859 17.4321 13.5 17.7083 13.5C17.9846 13.5 18.2496 13.3859 18.4449 13.1827C18.6403 12.9795 18.75 12.704 18.75 12.4167C18.75 10.9801 18.2013 9.60233 17.2245 8.5865C16.2478 7.57068 14.923 7 13.5417 7C13.2654 7 13.0004 7.11414 12.8051 7.3173C12.6097 7.52047 12.5 7.79602 12.5 8.08333C12.5 8.37065 12.6097 8.6462 12.8051 8.84937C13.0004 9.05253 13.2654 9.16667 13.5417 9.16667Z" fill="black"/%3E%3Cpath d="M13.5418 4.83268C15.4757 4.83268 17.3304 5.63164 18.6978 7.05379C20.0653 8.47594 20.8335 10.4048 20.8335 12.416C20.8335 12.7033 20.9432 12.9789 21.1386 13.182C21.3339 13.3852 21.5989 13.4993 21.8752 13.4993C22.1514 13.4993 22.4164 13.3852 22.6117 13.182C22.8071 12.9789 22.9168 12.7033 22.9168 12.416C22.9168 9.83016 21.9291 7.3502 20.171 5.52172C18.4128 3.69324 16.0282 2.66602 13.5418 2.66602C13.2656 2.66602 13.0006 2.78015 12.8053 2.98332C12.6099 3.18648 12.5002 3.46203 12.5002 3.74935C12.5002 4.03667 12.6099 4.31222 12.8053 4.51538C13.0006 4.71855 13.2656 4.83268 13.5418 4.83268ZM22.6564 17.7352C22.5991 17.5613 22.5002 17.4054 22.369 17.2822C22.2378 17.159 22.0786 17.0726 21.9064 17.031L15.6564 15.5469C15.4868 15.5068 15.3102 15.5117 15.1428 15.5609C14.9754 15.6101 14.8225 15.7021 14.6981 15.8285C14.5522 15.9693 14.5418 15.9802 13.8647 17.3235C11.6181 16.2469 9.81786 14.3669 8.79183 12.026C10.1147 11.3327 10.1252 11.3327 10.2606 11.1702C10.3822 11.0408 10.4706 10.8818 10.5179 10.7077C10.5652 10.5336 10.5699 10.35 10.5314 10.1735L9.10433 3.74935C9.06438 3.57027 8.98126 3.40471 8.86281 3.26825C8.74436 3.1318 8.59447 3.02893 8.42725 2.96935C8.18398 2.87899 7.93278 2.81367 7.67725 2.77435C7.41397 2.71086 7.1453 2.67457 6.87516 2.66602C5.60433 2.66602 4.38555 3.19104 3.48694 4.1256C2.58833 5.06016 2.0835 6.32769 2.0835 7.64935C2.08901 12.0723 3.78088 16.3124 6.78808 19.4399C9.79528 22.5674 13.8723 24.327 18.1252 24.3327C18.7544 24.3327 19.3775 24.2038 19.9589 23.9533C20.5402 23.7029 21.0684 23.3358 21.5134 22.8731C21.9583 22.4104 22.3113 21.861 22.5521 21.2564C22.7929 20.6518 22.9168 20.0038 22.9168 19.3493C22.9172 19.0736 22.8963 18.7983 22.8543 18.526C22.8106 18.2569 22.7443 17.9923 22.6564 17.7352ZM18.1252 22.166C14.424 22.1631 10.8753 20.6328 8.25818 17.911C5.64108 15.1892 4.16959 11.4985 4.16683 7.64935C4.16957 6.9032 4.4558 6.18843 4.96311 5.66082C5.47043 5.13321 6.15771 4.83554 6.87516 4.83268H7.21891L8.3335 9.85935L7.771 10.1627C6.87516 10.6502 6.16683 11.0402 6.54183 11.8852C7.15248 13.6831 8.14055 15.3169 9.43426 16.668C10.728 18.0191 12.2948 19.0534 14.021 19.696C14.896 20.0643 15.2397 19.3818 15.7085 18.4393L16.0106 17.8435L20.8335 18.9918V19.3493C20.8308 20.0955 20.5445 20.8103 20.0372 21.3379C19.5299 21.8655 18.8426 22.1632 18.1252 22.166Z" fill="black"/%3E%3C/svg%3E%0A');
            display: block;
            width: 25px;
            height: 27px;
            position: absolute;
            right: 0px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .callback__close{
        position: absolute;
        background-image: url('data:image/svg+xml,%3Csvg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M12.7961 11.4394L21.7061 2.52945C21.9063 2.29563 22.011 1.99487 21.9991 1.68727C21.9872 1.37967 21.8597 1.08787 21.642 0.870203C21.4243 0.652532 21.1326 0.525014 20.825 0.513133C20.5173 0.501251 20.2166 0.605882 19.9828 0.806114L11.0728 9.71611L2.16278 0.793891C1.92896 0.593659 1.6282 0.48903 1.3206 0.500912C1.013 0.512793 0.721203 0.64031 0.503532 0.857981C0.285861 1.07565 0.158343 1.36744 0.146462 1.67505C0.13458 1.98265 0.239211 2.28341 0.439443 2.51722L9.34944 11.4394L0.42722 20.3494C0.299276 20.459 0.195362 20.5939 0.122 20.7455C0.0486387 20.8971 0.00741238 21.0623 0.000910775 21.2306C-0.00559083 21.3989 0.022772 21.5668 0.0842187 21.7236C0.145665 21.8805 0.23887 22.0229 0.357981 22.142C0.477093 22.2611 0.619539 22.3543 0.776381 22.4158C0.933223 22.4772 1.10107 22.5056 1.2694 22.4991C1.43772 22.4926 1.60288 22.4514 1.75452 22.378C1.90615 22.3046 2.04098 22.2007 2.15055 22.0728L11.0728 13.1628L19.9828 22.0728C20.2166 22.273 20.5173 22.3776 20.825 22.3658C21.1326 22.3539 21.4243 22.2264 21.642 22.0087C21.8597 21.791 21.9872 21.4992 21.9991 21.1916C22.011 20.884 21.9063 20.5833 21.7061 20.3494L12.7961 11.4394Z" fill="%23686868"/%3E%3C/svg%3E%0A');
        width: 22px;
        height: 23px;
        right: 36px;
        top: 36px;
    }

    .callback__form{
        display: flex;
        flex-direction: column;
        input{
            margin-bottom: 18px;
            font-family: 'Roboto Condensed';
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 20px;
            letter-spacing: 0.01em;
            color: #000000;
            padding: 16px 22px;
            border: 1px solid #CCCCCC;
            border-radius: 26px;
            width: 100%;
            &::placeholder{
                color: rgba(170, 170, 170, 1);
            }
        }

        p{
            padding-top: 3px;
            font-family: 'Roboto Condensed';
            font-style: normal;
            font-weight: 400;
            font-size: 11px;
            line-height: 17px;
            letter-spacing: 0.01em;
            color: rgba(0, 0, 0, 0.5);
        }

        button{
            margin-top: 11px;
            font-family: 'Roboto Condensed';
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            line-height: 20px;
            letter-spacing: 0.01em;
            color: #000000;
            padding: 12px 39px;
            border: 2px solid #ADFF00;
            border-radius: 74px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media(max-width: 500px){
    .callback{
        .callback__wrapper{
            width: 310px;
            .callback__title{
                margin-bottom: 32px;
            }
            .callback__form p{
                padding-top: 8px;
            }
        }
    }
}