.comparison{
    display: flex;
    flex-direction: column;
    .comparison__wrapper{
        .comparison__clear{
            font-family: 'Roboto Condensed';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 19px;
            letter-spacing: 0.01em;
            color: #000000;
            padding: 7px 15px;
            border: 1px solid #DFDFDF;
            margin-top: 30px;
            margin-bottom: 17px;
    
        }
        
        .comparison__back{
            display: block;
            margin-bottom: 24px;
            font-family: 'Roboto Condensed';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 19px;
            letter-spacing: 0.01em;
            color: #007AFF;
            position: relative;
            padding-left: 21px;
            &::before{
                position: absolute;
                content: "";
                background-image: url("data:image/svg+xml,%3Csvg width='16' height='12' viewBox='0 0 16 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.7499 5.25009H3.06062L7.03037 1.28034C7.32324 0.987469 7.32305 0.512719 7.03037 0.219656C6.73749 -0.0732188 6.26274 -0.0732188 5.96968 0.219656L0.71968 5.46966C0.426805 5.76253 0.426805 6.23747 0.719492 6.53016L5.96949 11.7802C6.11593 11.9266 6.30793 11.9999 6.49993 11.9999C6.69174 11.9999 6.88374 11.9266 7.03037 11.78C7.32324 11.4873 7.32305 11.0123 7.03037 10.7197L3.06043 6.75009H14.7499C15.1641 6.75009 15.5001 6.41409 15.4999 6.00009C15.4999 5.58591 15.1641 5.25009 14.7499 5.25009Z' fill='%23007AFF'/%3E%3C/svg%3E%0A");
                display: block;
                width: 16px;
                height: 12px;
                left: 0px;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 40px;
        .comparison__title{
            font-family: 'Roboto Condensed';
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 111%;
            color: #000000;
            margin-bottom: 25px;
        }

        .comparison__table{
            border-top: 1px solid rgba(196,196,196,0.8);
            border-left: 1px solid rgba(196,196,196,0.8);
            border-bottom: 1px solid rgba(196,196,196,0.8);
            border-right: 1px solid rgba(196,196,196,0.8);
            border-collapse: collapse;
            .comparison__img-container{
                padding: 10px;
                border-radius: 20px;
                picture{
                    display: flex;
                }
                img{
                    margin: auto;
                    display: block;
                }
            }
            tr{
                th{
                    &:not(:last-child){
                        border-right: 1px solid rgba(196,196,196,0.8);
                    }
                  
                    padding: 12px 12px 0px 16px;
                    h5{
                        font-family: 'Roboto Condensed';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 24px;
                        text-transform: capitalize;
                        color: #000000;
                        text-align: left;
                        margin-top: 40px;
                        margin-bottom: 21px;
                    }
                    &:not(:first-child){
                        h5{
                            opacity: 0;
                            pointer-events: none;
                        }
                    }

                    .comparison__img-container-information{
                        margin-top: 14px;
                        .comparison__img-container-title{
                            text-align: left;
                            margin-bottom: 26px;
                            font-family: 'Roboto Condensed';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 15px;
                            line-height: 18px;
                            color: #152536;
                        }

                        .comparison__img-container-activites{
                            display: flex;
                            justify-content: space-between;
                            .comparison__img-container-cost{
                                margin-top: auto;
                                margin-bottom: auto;
                                .comparison__img-container-old{
                                    margin-bottom: 1px;
                                    font-family: 'Roboto Condensed';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 13px;
                                    line-height: 17px;
                                    letter-spacing: 0.01em;
                                    text-decoration-line: line-through;
                                    color: #686868;
                                    text-align: left;

                                }

                                .comparison__img-container-new{
                                    font-family: 'Roboto Condensed';
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 16px;
                                    line-height: 17px;
                                    letter-spacing: 0.01em;
                                    color: #000000;
                                    text-align: left;
                                }
                            }

                            .comparison__img-container-delete{
                                margin-top: auto;
                                margin-bottom: auto;
                                background-image: url("data:image/svg+xml,%3Csvg width='24' height='28' viewBox='0 0 24 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 10H10V22H8V10Z' fill='%23BA5959'/%3E%3Cpath d='M14 10H16V22H14V10Z' fill='%23BA5959'/%3E%3Cpath d='M0 4V6H2V26C2 26.5304 2.21071 27.0391 2.58579 27.4142C2.96086 27.7893 3.46957 28 4 28H20C20.5304 28 21.0391 27.7893 21.4142 27.4142C21.7893 27.0391 22 26.5304 22 26V6H24V4H0ZM4 26V6H20V26H4Z' fill='%23BA5959'/%3E%3Cpath d='M8 0H16V2H8V0Z' fill='%23BA5959'/%3E%3C/svg%3E%0A");
                                width: 24px;
                                height: 28px;
                                margin-left: 4px;
                                margin-right: 4px;
                            }

                            .comparison__img-container-buy{
                                margin-top: auto;
                                margin-bottom: auto;
                                font-family: 'Roboto Condensed';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 11.6975px;
                                line-height: 14px;
                                letter-spacing: 0.01em;
                                color: #626262;
                                padding: 7px 26px 7px 11px;
                                border: 1.4px solid #D5FF7B;
                                border-radius: 42px;
                                position: relative;
                                &::before{
                                    content: "";
                                    display: block;
                                    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.311575 0.0800781H0.997101V0.298431C1.95143 0.51191 2.08863 1.39775 2.14249 1.73625C2.16807 1.89636 2.21998 2.20951 2.28432 2.59309H14.2207C14.693 2.59309 14.7459 3.03442 14.6842 3.27861L13.2839 9.46048C13.2225 9.70467 12.9639 9.90401 12.7105 9.90401H2.24508C1.9931 9.90401 1.78766 10.109 1.78766 10.3609C1.78766 10.6129 1.9931 10.8179 2.24508 10.8179H13.6682C13.7894 10.8179 13.9056 10.866 13.9913 10.9517C14.077 11.0374 14.1252 11.1536 14.1252 11.2748C14.1252 11.396 14.077 11.5122 13.9913 11.5979C13.9056 11.6836 13.7894 11.7317 13.6682 11.7317H13.076C13.362 11.8896 13.6003 12.1212 13.7663 12.4026C13.9323 12.6839 14.0198 13.0045 14.0196 13.3311H13.5627C13.5627 14.0878 12.9486 14.7019 12.1919 14.7019C11.4352 14.7019 10.8211 14.0878 10.8211 13.3311H10.3642C10.3641 13.0045 10.4516 12.6838 10.6176 12.4025C10.7836 12.1212 11.022 11.8896 11.308 11.7317H4.85144C5.1374 11.8896 5.3758 12.1212 5.54181 12.4025C5.70781 12.6838 5.79535 13.0045 5.79529 13.3311H5.33835C5.33158 13.6903 5.18416 14.0324 4.92777 14.284C4.67139 14.5356 4.32652 14.6766 3.9673 14.6766C3.60809 14.6766 3.26322 14.5356 3.00684 14.284C2.75045 14.0324 2.60303 13.6903 2.59625 13.3311H2.13932C2.13929 13.0045 2.22681 12.6839 2.39276 12.4026C2.55872 12.1213 2.79704 11.8897 3.08292 11.7317H2.2446C1.88109 11.7315 1.53254 11.5871 1.2755 11.33C1.01847 11.073 0.873982 10.7244 0.873789 10.3609C0.873821 10.1809 0.909316 10.0026 0.978248 9.83629C1.04718 9.66996 1.1482 9.51883 1.27553 9.39154C1.40287 9.26425 1.55403 9.16329 1.72039 9.09442C1.88674 9.02554 2.06503 8.99011 2.24508 8.99015H2.41494L1.83055 5.35662C1.66776 4.39694 1.31683 2.3238 1.23446 1.80814C1.19303 1.54762 1.15282 1.36461 0.997101 1.26201V1.45063H0.311575C0.251116 1.45044 0.193183 1.42635 0.150409 1.38363C0.107634 1.3409 0.0834863 1.28299 0.0832293 1.22253V0.308666C0.0833578 0.248123 0.107449 0.190092 0.150238 0.147258C0.193026 0.104424 0.251031 0.0802712 0.311575 0.0800781V0.0800781ZM12.1919 14.0166C12.3737 14.0165 12.5479 13.9442 12.6764 13.8157C12.8049 13.6871 12.8772 13.5129 12.8774 13.3311H11.5066C11.5068 13.5128 11.5791 13.6871 11.7075 13.8156C11.836 13.9441 12.0102 14.0164 12.1919 14.0166V14.0166ZM3.96706 14.0166C4.14886 14.0165 4.32317 13.9443 4.45174 13.8157C4.58032 13.6872 4.65264 13.5129 4.65283 13.3311H3.28154C3.28186 13.5128 3.35419 13.687 3.48268 13.8155C3.61117 13.944 3.78535 14.0163 3.96706 14.0166V14.0166ZM4.52927 3.73408C4.52123 3.67214 4.49122 3.61515 4.44471 3.57347C4.3982 3.53179 4.33827 3.50818 4.27583 3.50695H2.82899C2.70324 3.50695 2.61575 3.60833 2.63549 3.73286L2.77878 4.65184C2.79779 4.77613 2.91696 4.87775 3.04295 4.87775H4.42302C4.45208 4.87852 4.48097 4.87299 4.50768 4.86153C4.5344 4.85007 4.55832 4.83296 4.5778 4.81138C4.59727 4.7898 4.61184 4.76425 4.6205 4.7365C4.62916 4.70875 4.63171 4.67945 4.62797 4.65062L4.52927 3.73408V3.73408ZM4.77517 6.01874C4.76698 5.95687 4.73693 5.89996 4.69045 5.85831C4.64397 5.81665 4.58412 5.793 4.52172 5.79162H3.18552C3.05953 5.79162 2.97228 5.89299 2.99129 6.01752L3.09925 6.70816C3.1185 6.83245 3.23743 6.93407 3.36342 6.93407H4.64454C4.67358 6.93476 4.70242 6.92917 4.7291 6.91768C4.75578 6.9062 4.77967 6.88909 4.79912 6.86752C4.81858 6.84596 4.83316 6.82045 4.84185 6.79274C4.85054 6.76502 4.85315 6.73576 4.84949 6.70694L4.77517 6.01874V6.01874ZM13.5193 4.65599L13.7508 3.72872C13.7811 3.60638 13.7026 3.50695 13.5766 3.50695H11.8563C11.7301 3.50695 11.6163 3.60906 11.6029 3.73408L11.5044 4.65087C11.5008 4.67966 11.5034 4.7089 11.5121 4.7366C11.5207 4.7643 11.5353 4.78979 11.5547 4.81135C11.5741 4.83291 11.598 4.85003 11.6247 4.86153C11.6513 4.87303 11.6801 4.87865 11.7091 4.87799H13.2349C13.3607 4.87799 13.4889 4.77783 13.5193 4.65599V4.65599ZM12.7222 6.93407C12.8479 6.93407 12.9761 6.83415 13.0063 6.71231L13.1808 6.01362C13.2113 5.89129 13.1333 5.79186 13.0073 5.79186H11.6112C11.4852 5.79186 11.3711 5.89397 11.3577 6.01899L11.2836 6.70719C11.2799 6.73599 11.2825 6.76525 11.2912 6.79296C11.2998 6.82068 11.3144 6.84619 11.3338 6.86776C11.3533 6.88933 11.3771 6.90644 11.4038 6.91793C11.4305 6.92942 11.4593 6.93501 11.4883 6.93431H12.7222V6.93407ZM11.2676 8.99039H12.2094C12.3359 8.99039 12.4634 8.89047 12.4938 8.76862L12.6683 8.06994C12.6986 7.94761 12.6206 7.84818 12.4943 7.84818H11.3904C11.2644 7.84818 11.1503 7.95029 11.1364 8.0753L11.0628 8.76351C11.0591 8.7923 11.0617 8.82155 11.0704 8.84925C11.079 8.87695 11.0936 8.90245 11.113 8.924C11.1325 8.94555 11.1564 8.96265 11.183 8.9741C11.2097 8.98556 11.2385 8.99112 11.2676 8.99039V8.99039ZM8.46696 8.7618C8.46722 8.82243 8.49145 8.8805 8.53437 8.92333C8.57729 8.96615 8.63541 8.99026 8.69604 8.99039H9.88797C9.95037 8.9891 10.0102 8.96547 10.0567 8.92379C10.1032 8.88212 10.1331 8.82516 10.1412 8.76326L10.2153 8.07506C10.219 8.04627 10.2165 8.017 10.2079 7.98926C10.1993 7.96153 10.1848 7.93599 10.1653 7.91441C10.1459 7.89282 10.122 7.8757 10.0954 7.86423C10.0687 7.85275 10.0398 7.8472 10.0108 7.84794H8.69604C8.63537 7.84794 8.57718 7.872 8.53423 7.91486C8.49128 7.95771 8.46709 8.01585 8.46696 8.07652V8.7618V8.7618ZM8.46696 6.70573C8.46722 6.76636 8.49145 6.82442 8.53437 6.86725C8.57729 6.91008 8.63541 6.93419 8.69604 6.93431H10.109C10.2348 6.93431 10.3483 6.8322 10.3625 6.70719L10.4361 6.01899C10.4398 5.9902 10.4372 5.96094 10.4286 5.93323C10.42 5.90551 10.4055 5.87999 10.386 5.85842C10.3666 5.83684 10.3428 5.81973 10.3161 5.80824C10.2894 5.79675 10.2606 5.79116 10.2316 5.79186H8.69604C8.63537 5.79186 8.57718 5.81593 8.53423 5.85878C8.49128 5.90164 8.46709 5.95978 8.46696 6.02045V6.70573V6.70573ZM8.46696 4.64941C8.46722 4.71004 8.49145 4.7681 8.53437 4.81093C8.57729 4.85376 8.63541 4.87787 8.69604 4.87799H10.3293C10.3918 4.87676 10.4517 4.85316 10.4982 4.81148C10.5447 4.7698 10.5747 4.7128 10.5828 4.65087L10.6812 3.73408C10.6849 3.70528 10.6823 3.67602 10.6737 3.6483C10.665 3.62059 10.6505 3.59507 10.631 3.5735C10.6116 3.55194 10.5877 3.53482 10.561 3.52333C10.5344 3.51185 10.5055 3.50626 10.4765 3.50695H8.6958C8.63512 3.50695 8.57693 3.53102 8.53399 3.57387C8.49104 3.61673 8.46685 3.67487 8.46672 3.73554V4.64941H8.46696ZM5.99122 8.76326C5.99932 8.82518 6.02934 8.88214 6.07584 8.92382C6.12234 8.96549 6.18224 8.98911 6.24467 8.99039H7.32182C7.38243 8.99026 7.44052 8.96614 7.4834 8.92331C7.52628 8.88048 7.55046 8.82241 7.55065 8.7618V8.07628C7.55053 8.01565 7.52637 7.95755 7.48347 7.9147C7.44058 7.87185 7.38245 7.84776 7.32182 7.84769H6.12185C5.9961 7.84769 5.90349 7.9498 5.91714 8.07482L5.99122 8.76326ZM5.77043 6.70694C5.77852 6.76886 5.80855 6.82582 5.85505 6.8675C5.90155 6.90917 5.96145 6.93279 6.02388 6.93407H7.32182C7.38243 6.93394 7.44052 6.90982 7.4834 6.86699C7.52628 6.82416 7.55046 6.76609 7.55065 6.70548V6.01996C7.55053 5.95933 7.52637 5.90123 7.48347 5.85838C7.44058 5.81553 7.38245 5.79144 7.32182 5.79137H5.90106C5.77506 5.79137 5.6827 5.89348 5.69659 6.0185L5.77043 6.70694ZM5.54964 4.65087C5.55773 4.71278 5.58775 4.76975 5.63426 4.81142C5.68076 4.85309 5.74066 4.87671 5.80309 4.87799H7.32182C7.38243 4.87787 7.44052 4.85375 7.4834 4.81092C7.52628 4.76808 7.55046 4.71001 7.55065 4.64941V3.73554C7.55053 3.67491 7.52637 3.61681 7.48347 3.57396C7.44058 3.53111 7.38245 3.50702 7.32182 3.50695H5.65565C5.52966 3.50695 5.4373 3.60906 5.4507 3.73408L5.54964 4.65087V4.65087ZM3.78721 8.99039V8.98868L3.78916 8.99039H4.86534C4.8724 8.99039 4.8785 8.98698 4.88556 8.986C4.88678 8.97772 4.88678 8.96943 4.88824 8.96066L4.89897 8.98308C4.89599 8.98387 4.89298 8.98452 4.88995 8.98503C5.00229 8.97211 5.08272 8.87926 5.0698 8.76326L4.9962 8.07506C4.98801 8.01319 4.95797 7.95628 4.91148 7.91462C4.865 7.87297 4.80515 7.84932 4.74275 7.84794H3.50574C3.37975 7.84794 3.29299 7.94931 3.312 8.07384L3.41996 8.76448C3.43872 8.88877 3.55765 8.99039 3.68364 8.99039H3.78721' fill='%23626262'/%3E%3C/svg%3E%0A");
                                    width: 15px;
                                    height: 15px;
                                    position: absolute;
                                    right: 7px;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }
                            }
                            
                        }
                    }
                }

                td{
                    border-top: 1px solid rgba(196,196,196,0.8);
                    padding: 12px 12px 16px 16px;
                    border-right: 1px solid rgba(196,196,196,0.8);
                    &:last-child{
                        border-right: none !important;
                    }
                   
                    h3{
                        font-family: 'PT Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 13px;
                        line-height: 17px;
                        letter-spacing: 0.02em;
                        color: #686868;
                        margin-bottom: 2px;
                    }

                    &:not(:first-child){
                        h3{
                            opacity: 0;
                            pointer-events: none;
                        }
                    }

                    p{
                        font-family: 'Roboto Condensed';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 21px;
                        letter-spacing: 0.01em;
                        color: #000000;
                        margin-top: auto;
                    }
                }
            }
        }
    }
}

.comparison__table-container{
    position: relative;
    overflow-x: auto;
    padding-bottom: 10px;

    &::-webkit-scrollbar{
    height: 8px; 
    background-color: #EBEBEB;
    }


    &::-webkit-scrollbar-thumb{
    background-color: #6A6A6A;;
    border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover{
    background-color: #070707;
    }

    .comparison__table{}
}

@media(min-width: 1200px){
    .comparison{
        display: flex;
        .comparison__wrapper{
            margin-bottom: 87px;
            padding-left: 20px;
            padding-right: 20px;
            max-width: $max-width;
            width: 100%;
            margin-left: auto;
            margin-right: auto;

            .comparison__title{
                font-family: 'Roboto Condensed';
                font-style: normal;
                font-weight: 700;
                font-size: 50px;
                line-height: 59px;
                color: #000000;
                position: relative;
                margin-bottom: 65px;
                &::before{
                    content: "";
                    display: block;
                    width: 453px;
                    height: 18px;
                    left: 0px;
                    bottom: 4px;
                    position: absolute;
                    z-index: -1;
                    background: #ADFF00;
                }
            }
        }
    }
}